@import "../mixins/mixins";




.page__line_content {
    background: url("../img/bg.png");
    margin: -1*($headerHeight) 0 -1*($footerHeight) 0;
    min-height: 100%;
    padding: $headerHeight 0 $footerHeight 0;
    z-index: 1;
}


// elements stylized



// content classes
.wrapper__coll {
    width: 50%;
    float: left;
}
.wrapper__description {
    color: #aaa;
    padding: 15px;
    text-align: center;
}
.adjust {
    background: #1b1b1b;
    padding: 10px 20px 0 20px;
}
.adjust__title {
    color: #ddd;
    display: inline-block;
}
.adjust__input {
    background: transparent;
    text-align: right;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-left: 5px;
    width: 80px;
}
.color {
    border: 2px solid $sliderBody;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    width: 100px;
}


// result filds
.result {
    
}
.result__row {
    padding: 10px 10px 0 10px;
}
.result__row_button {
    text-align: center;
    min-height: 210px;
}
.button {
    background: green;
    color: #fff;
    display: inline-block;
    border-color: red;
    border-style: solid;
}
.result__item {
    background: #eee;
    width: 100%;
}
.html {
    min-height: 40px;
}
.css {
    min-height: 315px;
}


