@import "../mixins/mixins";

.page__line_footer {
    background: #333;
    box-shadow: 0px 0px 6px 2px #f00;
    height: $footerHeight;
    z-index: 2;
}

.form {
    display: block;
    height: 100%;
    text-align: center;
}
.form__item {
    display: inline-block;
    line-height: $footerHeight;
}
.form__input {
    color: #333;
    height: 32px;
    margin: 0 10px;
    padding: 0 5px;
    position: relative;
    @include heandleRadius(4px);
    
}
.mail {
    border: 1px solid #54c165;
    width: 200px;
}
.send {
    background: #8df09c;
    border: none;
    width: 140px;
    &:hover {
        top: -2px;
        border-bottom: 2px solid #469f53;
    }
    &:active {
        background: #68b774;
        border: none;
    }
}
