@import "../mixins/mixins";


.page__line_header {
    background: #ddd;
    border-bottom: 1px solid #333;
    height: $headerHeight;
    text-align: center;
    z-index: 2;
}


// logo
.logo {
    height: 100%;
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background: #555;
}
.logo__img {
    background: blue;
}
.logo__text {
    color: red;
}


// description
.description {
    display: inline-block;
}
.description__text {
    margin: 0;
    padding: 0;
    color: #9d7070;
    font: normal 30px sans-serif;
    line-height: $headerHeight;
    text-shadow: 0px 1px 0px #fff;
}


// social icons
.social {
    position: absolute;
    right: 0;
    top: 0;
}
.social__list {
    padding: 5px 0 0 0;
}
.social__item {
    display: inline-block;
}
.social__link {
    border: 3px solid #fff;
    background: $sliderBody;
    display: block;
    overflow: hidden;
    text-align: center;
    text-indent: 999999px;
    height: $socialHeight;
    width: $socialHeight;
    @include heandleRadius(50%);
}





.social__text {
    display: inline;
    color: #fff;
    line-height: $socialHeight;
}
