@import url('normalize.less');
@import url('mixins.less');


/*	==========================================================================
	adjust my LESS
	========================================================================== */

@body_font: 'Arial' sans-serif;
@code_font: 'Arial' sans-serif;

@header: 130px;
@containers: 350px;
@bg__section: 0.2*@containers;

@code: #1d1f20;
//@media 

.shadowForBox (@unitBox1: 0px 3px 6px 0px rgba(0,0,0,0.5);) {
	-webkit-box-shadow: @unitBox1;
	-moz-box-shadow: @unitBox1;
	box-shadow: @unitBox1;
}
.lightForBox (@unitBox2: 0px 0px 8px 3px rgba(255, 255, 255, 0.4);) {
	-webkit-box-shadow: @unitBox2;
	-moz-box-shadow: @unitBox2;
	box-shadow: @unitBox2;
}
.insetShadowForBox (@unitInset: inset 1px 1px 3px 2px rgba(0,0,0,0.5);) {
	-webkit-box-shadow: @unitInset;
	-moz-box-shadow: @unitInset;
	box-shadow: @unitInset;
}
// adjust my blocks
.title {
	color: #a00;
	font: bold 2em @body_font;
	line-height: 1.5*@bg__section;
	text-align: center;
}
.bginnerdivprop {
	height: @bg__section;
	padding: 0 0 0 0.1*@bg__section;
	position: relative;
	&:hover {
		background: rgba(255, 255, 255, 0.2);
	}
}
.list {
	display: block;
	width: auto;
	.clearfix;
}
.bg-inner-p-prop {
	font: bold 2em @body_font;
	line-height: @bg__section;
	width: 2*@bg__section;
}
.sliderhorisontal {
	background: #aaa;
	display: block;
	height: 0.2*@bg__section;
	width: 3.2*@bg__section;
}
.html_css_prop {
	font: normal 1.3em sans-serif;
	float: left;
	color: #ffffd9;
	text-align: center;
	width: @bg__section;
	background-color: lighten(@code, 5%);
}
.dark {
	background: @code;
}
.text {
	color: #444;
	text-shadow: 1px 1px 0 #eee;
}
input.color {
	border: none;
	cursor: crosshair;
	display: block;
	font: normal 1.5em @code_font;
	height: 100%;
	outline: none;
	position: absolute;
	text-indent: 15px;
	width: 100%;
	.insetShadowForBox;
}
textarea {
	border: none;
	background: @code;
	color: #fadcff;
	font: normal 1em @code_font;
	display: block;
	height: 100%;
	position: absolute;
}
/*	==========================================================================
	common elements
	========================================================================== */
html * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	width:100%;
	height:100%;
	font-size: 100.01%;
	margin: 0;
	padding: 0;
	font: 14px/1.41 @body_font;
}
body {
	background: url(../img/mooning.png);
	font: 14px/1.41 @body_font;
    -webkit-font-smoothing: antialiased;
	height:100%;
	margin: 0;
	padding: 0;
	width:100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul {
	padding: 0;
	margin: 0;
	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}
p{
	padding: 0;
	margin: 0;
}
/*	==========================================================================
	main LESS
	========================================================================== */
div.header {
	background: url(../img/subtle_grunge.png);
	min-height: @header;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	.shadowForBox;
	
	ul.header__list {
		min-height: @header;
		text-align: center;
		.clearfix;
		
		li.header__item {
			display: inline-block;
			font: bold 1em/@header @body_font;
			
			button#button__generator {
				border-style: solid;
				//font
				color: #eee;
				font-size: 20px;
				font-family: sans-serif;
				//background
				background-color: #557;
				width: 350px;
				padding: 40px 0;
				//border
				border-color: #f49;
				border-width: 3px;
				border-radius: 10px;
			}
		}
	}
}


div.container {
	padding-top: @header;
	position: relative;
	.clearfix;
}
div.wrapper {
	border-bottom: solid 3px #666;
	float: left;
	width: 100%;
}
div.wrapper__left {
	border-right: solid 3px #666;
	border-bottom: solid 3px #666;
	float: left;
	position: relative;
	width: 50%;
}
div.wrapper__right {
	border-bottom: solid 3px #666;
	float: right;
	position: relative;
	width: 50%;
}

div.font {
	margin: 0 auto;
	min-height: @containers;
	width: 5.4*@bg__section;
	.clearfix;
	
	div.font__title {
		.title;
	}
	div.font__color {
		.bginnerdivprop;
		
		ul.fontcolor__list {
			.list;
			
			li.fontcolor__item {
				float: left;
				
				p.fontcolor__item-name {
					.bg-inner-p-prop;			}
				
				div.fontcolor__link-select {
					display: block;
					height: @bg__section;
					position: relative;
					width: 3.3*@bg__section;
					.lightForBox;
				}
			}
		}
	}
	div.font__size {
		.bginnerdivprop;
		
		ul.fontsize__list {
			.list;
			
			li.fontsize__item {
				display: inline-block;
				
				p.fontsize__item-name {
					.bg-inner-p-prop;
				}
				a.fontsize__link-select {
					.sliderhorisontal;
				}
			}
		}
	}
	div.font__family {
		.bginnerdivprop;
		
		ul.fontfamily__list {
			.list;
			
			li.fontfamily__item {
				float: left;
				
				p.fontfamily__item-name {
					.bg-inner-p-prop;			}
				
				a.fontfamily__link-result {
					background: #eee;
					display: block;
					height: @bg__section;
					width: 3.3*@bg__section;
				}
			}
		}
	}
}

div.bg {
	margin: 0 auto;
	min-height: @containers;
	width: 5.4*@bg__section;
	.clearfix;
	
	div.bg__title {
		.title;
	}
	div.bg__color {
		.bginnerdivprop;
		
		ul.bgcolor__list {
			.list;
			
			li.bgcolor__item {
				float: left;
				
				p.bgcolor__item-name {
					.bg-inner-p-prop;			}
				
				div.bgcolor__link-select {
					background: #43a0d1;
					display: block;
					height: @bg__section;
					position: relative;
					width: 3.3*@bg__section;
					.lightForBox;
				}
			}
		}
	}
	div.bg__width {
		.bginnerdivprop;
		
		ul.width__list {
			.list;
			
			li.width__item {
				display: inline-block;
				
				p.width__item-name {
					.bg-inner-p-prop;
				}
				a.width__link-select {
					.sliderhorisontal;
				}
			}
		}
	}
	div.bg__height {
		.bginnerdivprop;
		
		ul.height__list {
			.list;
			
			li.height__item {
				display: inline-block;
				
				p.height__item-name {
					.bg-inner-p-prop;
				}
				a.height__link-select {
					.sliderhorisontal;
				}
			}
		}
	}
}

div.border {
	margin: 0 auto;
	min-height: @containers;
	width: 5.4*@bg__section;
	.clearfix;
	
	div.border__title {
		.title;
	}
	div.border__color {
		.bginnerdivprop;
		
		ul.bordercolor__list {
			.list;
			
			li.bordercolor__item {
				float: left;
				
				p.bordercolor__item-name {
					.bg-inner-p-prop;			}
				
				div.bordercolor__link-select {
					background: #af2b4f;
					display: block;
					height: @bg__section;
					position: relative;
					width: 3.3*@bg__section;
					.lightForBox
				}
			}
		}
	}
	div.border__size {
		.bginnerdivprop;
		
		ul.size__list {
			.list;
			
			li.size__item {
				display: inline-block;
				
				p.size__item-name {
					.bg-inner-p-prop;
				}
				a.size__link-select {
					.sliderhorisontal;
				}
			}
		}
	}
	div.border__radius {
		.bginnerdivprop;
		
		ul.radius__list {
			.list;
			
			li.radius__item {
				display: inline-block;
				
				p.radius__item-name {
					.bg-inner-p-prop;
				}
				a.radius__link-select {
					.sliderhorisontal;
				}
			}
		}
	}
}


div.code {
	max-width: 100%;
	min-height: 1*@containers;
	position: relative;
	.clearfix;
	
	div.code__html {
		background: @code;
		height: 1*@bg__section;
		overflow: hidden;
		
		div.code__html-title {
			.html_css_prop;
			line-height: @bg__section;
		}
		div.code__html-result {
			float: left;
			max-width: 100%;
			height: 100%;
			position: relative;
		}
	}
	
	div.code__css {
		background: @code;
		border-top: solid 1px #666;
		min-height: 4*@bg__section;
		
		div.code__css-title {
			.html_css_prop;
			line-height: 4*@bg__section;
		}
		div.code__css-result {
			float: left;
			max-width: 100%;
			height: 4*@bg__section;
			position: relative;
		}
	}
}
div.send {
	background: #eee;
	height: 2*@bg__section;
	min-width: 100%;
	position: relative;
}

/*	==========================================================================
	fontface
	========================================================================== */

//@font-face {font-family: Bold;			src: url('fonts/MyriadPro-Bold.otf');}
//@font-face {font-family: BoldCond;		src: url('fonts/MyriadPro-BoldCond.otf');}
//@font-face {font-family: BoldCondIt;	src: url('fonts/MyriadPro-BoldCondIt.otf');}
//@font-face {font-family: BoldIt;		src: url('fonts/MyriadPro-BoldIt.otf');}
//@font-face {font-family: Cond;			src: url('fonts/MyriadPro-Cond.otf');}
//@font-face {font-family: CondIt;		src: url('fonts/MyriadPro-CondIt.otf');}
//@font-face {font-family: It;			src: url('fonts/MyriadPro-It.otf');}
//@font-face {font-family: Regular;		src: url('fonts/MyriadPro-Regular.otf');}
//@font-face {font-family: Semibold;		src: url('fonts/MyriadPro-Semibold.otf');}
//@font-face {font-family: SemiboldIt;	src: url('fonts/MyriadPro-SemiboldIt.otf');}


/*	==========================================================================
	media-queries
	========================================================================== */

@media only screen and (max-width: 800px) {
	div.wrapper__left {
		border-right: none;
		float: left;
		position: relative;
		width: 100%;
	}
	div.wrapper__right {
		float: left;
		position: relative;
		width: 100%;
	}
}



