$sliderBody: #e37e7e;
$sliderHendleBorder: #ddd;
$inputColor: gold;
$inputFontSize: 16px;
$socialHeight: 48px;
$headerHeight: 68px;
$footerHeight: 60px;
$adjustInput: 100px;


@mixin heandleRadius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: ""; 
        display: block; 
        height: 0; 
        overflow: hidden; 
    }
    &:after {
        clear: both;
    }
}

